body{
  background-color: lightblue;
}
.grandparent{
  height:700px;
  width: 400px;
}
.red{
  background-color: lightgreen;
}
.quicksand{
  font-family: 'Quicksand', sans-serif;
}
input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
}
#headPadding{
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 30px;
}
.textbox{
  display:flex;
  justify-content: space-evenly
}
